<app-navbar></app-navbar>
<div class="container-fluid">
    <nav aria-label="breadcrumb" class="bg-blue">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" (click)="navigateToHome()">Home</li>
            <li class="breadcrumb-item" (click)="navigateToCourse()">Course</li>
            <li class="breadcrumb-item active" aria-current="page" style="color: blue;">Course Link</li>
        </ol>
    </nav>

    <div class="container">
        <div class="card text-center">
            <img src="\assets\C_Programming_Language.png" class="card-img-top" alt="Main Image">
            <div class="card-body">
                <h5 class="card-title mb-3">C Programming Language</h5>
                <a type="button" href="https://www.javatpoint.com/c-programming-language-tutorial"
                    class="btn btn-info mb-3">Online Tutotial</a>

                <h5 class="card-title mb-3"></h5>
                <a type="button" href="https://www.youtube.com/watch?v=_MF8L7ZxwRE" class="btn btn-info mb-3">Video
                    tutorial Link</a>
            </div>
            <button type="button" class="btn btn-danger" (click)="navigateToCourse()">Back</button>
        </div>
    </div>


</div>