.container-fluid {
    background-color: aliceblue;
    /* background-image: url('/assets/bg-1.png'); */
    background-size: cover;
    height: 100vh;
}

li{
    cursor: pointer;
    &:hover{
        color:blue;
    }
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .card{
    width: 50vh;
    height: auto;
    padding: 10px;
}

.container .card a{
    width: 100%;
}
img{
    width: 200px !important;
    height: 200px !important;
    margin: 0 auto;
}