<app-navbar></app-navbar>

<div class="container-fluid">
    <nav aria-label="breadcrumb" class="bg-blue">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page" style="color: blue;">Home</li>
        </ol>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <h1>Hello...! Welcome to one stop solution for all your tech tutorials links.</h1>
            </div>
        </div>
        <div class="row mt-5 justify-content-center">
            <div class="col-md-6 col-lg-6 col-sm-12 d-flex justify-content-center align-items-center">
                <img src="/assets/tech-removebg-preview.png" alt="homeImage" class="img-fluid">
            </div>            
            <div class="col-md-6 col-lg-6 col-sm-12 d-flex justify-content-center align-items-center">
                <form action="/action_page.php">
                    <div class="mb-3 mt-3">
                      <label for="name" class="form-label"><h1>Enter Your Name:</h1></label>
                      <input type="text" class="form-control" id="name" placeholder="Enter name" name="name" required>
                    </div>
                    <button type="submit" class="btn btn-primary  mb-5">Get Started..!</button>
                  </form>
            </div>    
        </div>
        
    </div>
</div>